server {
    listen 80;
    server_name {{ server_domain_name }};
    root /var/www/{{ server_domain_name }}; 

    index index.php index.html;
    access_log /var/log/nginx/{{ server_domain_name }}/access.log;
    error_log /var/log/nginx/{{ server_domain_name }}/error.log;
    rewrite_log on;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
            include snippets/fastcgi-php.conf;
            fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
    }

    # Negar acesso aos arquivos do apache (ex. .htaccess) se houver algum	
    location ~ /\.ht {
        access_log off;
        log_not_found off; 
        deny all;
    }
}
