
# Created by https://www.gitignore.io/api/git,flask
# Edit at https://www.gitignore.io/?templates=git,flask

### Flask ###
instance/*
!instance/.gitignore
.webassets-cache

### Flask.Python Stack ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask stuff:
instance/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

# End of https://www.gitignore.io/api/git,flask

# Ignorar o banco de dados
app.db